body{
   background-image: url('..Assets\animation\background.png');
   background-repeat: no-repeat;
   background-size: auto 456px;
}


img {
    position: absolute; /* Position the image */
    left: 0; /* Start from the left edge */
    animation: moveRight 4s linear infinite; /* Animation to move right */
}

@keyframes moveRight {
    0% {
        left: 0;
    }
    100% {
        left: 100%; /* Move to the right edge */
    }
}
