body{
   background-image: url("assets/animation/background.png");
   background-repeat: no-repeat;
   background-size: auto 456px;
}


img {
    position: absolute;
    left: 0;
    animation: moveRight 4s linear infinite;
}

@keyframes moveRight {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
